.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.cat-container {
  display: block;
  margin: 0;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s linear;
  opacity: 1;
  transform: rotate(0deg);

  &:hover {
      opacity: 0.8;
  }

  &:active, &.rotate {
    transform: rotate(360deg);
  }
}
