<navbar></navbar>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Meowman!</h1>
    <p class="lead">Maximum cats!</p>
  </div>
</header>

<div class="container text-center">
  <div class="row">
    <div class="col-sm-12">
       <button class="btn btn-primary" ng-click="addNote() && play()">Start round {{list.length + 1}}!</button>
    </div>
  </div>
  <div class="row">
      <a ng-repeat="n in [] | range:4" ng-click="pressButton($index)" class="cat-container col-sm-6" ng-class="{
          rotate : playItem === $index
      }">
        <img src="https://placekitten.com/g/600/400" class="img-responsive" />
      </a>
  </div>
</div>

<footer></footer>
